@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap");

/*NGJYRAT: 
TINTS: #fdf2e9  #f8d8bd  #eea564
SHADES: #170d03  #a15818    #5c320e
border radius: 8px;
shadow: 
*/
/*******HEADER********/
.header {
  display: flex;
  justify-content: space-between;
  padding: 2.4rem 4.8rem;
  background-color: #fdf2e9;
  font-weight: 700;
  align-items: center;
}

.logo img {
  width: 12.8rem;
}
.nav-bar .nav {
  list-style: none;
  display: flex;
  gap: 1.6rem;
  font-size: 1.8rem;
  font-weight: 500;
  align-items: center;
}
.menu:link,
.menu:visited {
  text-decoration: none;
  color: #333;
  transition: all 0.3s;
}
.menu:hover,
.menu:active {
  text-decoration: none;
  color: #cf711f;
}

.btn.cta-nav {
  padding: 0.9rem 1.8rem;
  color: white;
}

/*******HERO********/
.hero-section {
  background-color: #fdf2e9;
  padding: 1.2rem 3.2rem;
}
.hero {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 9.6rem 8rem;
  align-items: center;
  max-width: 130rem;
}

.hero-header-description {
  font-size: 2rem;
  line-height: 1.5;
  letter-spacing: 1.3px;
  margin-bottom: 3.2rem;
}

.hero-image img {
  max-width: 100%;
}
.costumer {
  display: flex;
  align-items: center;
  gap: 1.6rem;
}
.costumer-img img {
  height: 3.2rem;
  width: 3.2rem;
  border-radius: 50%;
  margin-left: -1rem;
  border: 3px solid #fdf2e9;
}
.costumer-img img:last-child {
  margin-right: 0px;
}

.costumer-description {
  font-size: 1.8rem;
  font-weight: 500;
}
.delivered-meal {
  color: #cf711f;
}

/*******HERO END********/

/*******FEATURE START********/

.feature-in {
  text-align: center;
}
.feature-img {
  display: flex;
  justify-content: space-around;
}
.feature-img img {
  height: 3.2rem;
  filter: brightness(1%);
  opacity: 50%;
}
.feature-in-header .steps-header-description {
  display: block;
  color: #999;
  margin-bottom: 3.2rem;
}
/*******FEATURE END********/

/*******STEPS START********/

.steps {
  padding: 0 4.8rem;
}
.steps-header {
  padding: 9.6rem 0 6.4rem 0;
}
.steps-header-description {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.6rem;
  color: #cf711f;
}

.steps-content img {
  width: 35%;
}
.step-no {
  font-size: 6.2rem;
  font-weight: 700;
  color: #ddd;
}
.step-description {
  font-size: 1.8rem;
  letter-spacing: 1.05px;
  line-height: 1.5;
}
/*Intrinsinc ratio*/
.step-img {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
}
.step-img::before,
.step-img::after {
  content: " ";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 50%;
}
.step-img::before {
  width: 60%;
  padding-bottom: 60%;
  z-index: -2;
  background-color: #fdf2e9;
}
.step-img::after {
  z-index: -1;
  background-color: #fae5d3;
  width: 50%;
  padding-bottom: 50%;
}
.step-title {
  margin-bottom: 3.2rem;
}

/*******STEPS END********/

/*******TESTIMONIALS START********/

.testimonials-grid {
  display: grid;
  justify-items: center;
  gap: 4.8rem 3.2rem;
  grid-template-columns: repeat(2, 1fr);
}
.testimonials-gallery {
  background-color: #fdf2e9;
}
.testimonials-header {
  padding-bottom: 3.2rem;
}
.testimonials-body figure {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.author-img img {
  max-width: 20%;
  border-radius: 50%;
}
.author-testimonial {
  font-size: 1.8rem;
  line-height: 1.5;
  letter-spacing: 1.2;
}
.author-info {
  font-size: 1.4rem;
  color: #444;
}

/*******TESTIMONIALS END********/

/*******GALLERY START********/
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3.2rem 2.4rem;
}
.container-img {
  overflow: hidden;
}
.gallery img {
  width: 100%;
  transition: all 0.3s;
}
.container-img img:hover {
  transform: scale(1.05);
}
/*******GALLERY END********/

/*******MEALS START********/

.meals-header,
.meals-recipes {
  text-align: center;
}
.meals-img img {
  width: 100%;
}
.meals-header {
  margin-bottom: 8rem;
  text-align: center;
}
.labeles span {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  font-size: 1rem;
  border-radius: 5rem;
  font-weight: 500;
  color: #333;
}
.labeles {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.6rem;
}
.meals-content {
  padding: 0.8rem 1.2rem;
}
.meals-content .ternary-header {
  font-size: 1.8rem;
  margin-bottom: 1.8rem;
}
.vegetarian {
  background-color: #51cf66;
}
.vegan {
  background-color: #94d82d;
}
.paleo {
  background-color: #fcc419;
}
.meal-details p {
  font-size: 1.8rem;
  display: flex;
  gap: 1rem;
}
.meal-details {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}
.meals-recepie {
  border-radius: 8px;
  overflow: hidden;
  max-width: 70%;
  box-shadow: 0 0 3px rgba(51, 51, 51, 30%);
}
.meals-recipes .first {
  justify-self: end;
}
.meals-recipies .second {
  justify-self: start;
}
.meals-recepie:hover{
  transform: translateY(-1rem);
  transition: all 0.3s ease;
}
strong {
  font-weight: 500;
}
.meals-diet div {
  display: flex;
  font-size: 1.8rem;
  flex-direction: column;
  gap: 1.6rem;
}
.meals-footer {
  text-align: center;
}
.meals-recipes {
  font-size: 1.6rem;
  color: #e67e22;
  letter-spacing: 1.05px;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  font-weight: 500;
  display: block;
  padding: 0.4rem;
}
ion-icon {
  color: #cf711f;
}
.meals-body{
  margin-bottom: 8rem;
}
.meals-recipes:hover {
  border-bottom: 1px solid transparent;
}
/*******MEALS END********/
