@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap");

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:focus {
  outline: none;
  box-shadow: 0 0 3px #381d1d;
}
body {
  font-family: "Rubik", sans-serif;
  color: #333;
}
.btn-lg {
  font-size: 1.6rem;
  padding: 1rem 3.2rem;
}
.btn-sm {
  font-size: 1.8rem;
  padding: 1.2rem 2.4rem;
}
.primary-header,
.secondary-header {
  line-height: 1.05;
  letter-spacing: -0.5px;
  font-weight: 700;
}
.primary-header {
  font-size: 5.2rem;
  margin-bottom: 2.4rem;
}

.secondary-header {
  font-size: 4.4rem;
  margin-bottom: 1.6rem;
}
.ternary-header {
  font-size: 3rem;
  margin-bottom: 1.2rem;
}
.btn,
.btn:link,
.btn:visited {
  padding: 1.6rem 3.2rem;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 8px;
  transition: all 0.3s;
  display: inline-block;
}
.btn-primary:hover,
.btn-primary:active {
  background-color: #cf711f;
}
.btn-primary {
  background-color: #e67e22;
  color: white;
}
.btn-secondary {
  background-color: #fdf2e9;
  color: #333;
  background-color: white;
}
.btn-secondary:hover,
.btn-secondary:active {
  background-color: #fdf2e9;
  box-shadow: inset 0 0 0 3px white;
}
.grid {
  display: grid;
  justify-items: center;
  row-gap: 6.4rem;
  column-gap: 4.8rem;
}
.grid-2 {
  grid-template-columns: repeat(2, 1fr);
}
.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}
.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}
/*UTILITY CLASS*/
.mr-right {
  margin-right: 1.6rem !important;
}
.mr-top {
  margin-top: 9.6rem;
}
.pb-lg {
  padding-bottom: 9.6rem !important;
}
.pt-lg {
  padding-top: 9.6rem !important;
}
