h2 {
  font-size: 2rem;
  font-weight: bold;
  color: #2c3e50;
}

body {
  width: 80%;
  border: 20px solid #bdc3c7;
  font-family: "Source Sans Pro", sans-serif;
  padding: 20px;
  margin: 20px auto;
  max-width: 700px;
}
#first-paragraph {
  padding: 5px;
  border-left: 5px solid #bdc3c7;
}
.date {
  color: #3498db;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
}
hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
