body {
  background-color: #bdc3c7;
}
h1 {
  color: #9b59b6;
}
h2 {
  color: orange;
}
li {
  color: blue;
}
p {
  background-color: yellow;
}

input {
  border: 3px red solid;
}
.hello {
  background-color: white;
}
#special {
  border: 2px solid blue;
}

div p {
  font-size: 25px;
  background-color: pink;
}

input[type="text"] {
  background-color: gray;
}
div:nth-of-type(3) p:nth-of-type(2) {
  border: 5px solid white;
}
span {
  font-style: italic;
  color: white;
  font-size: 20px;
}
input:checked{
    margin-left: 50px;
}

label{
    text-transform: uppercase;
}

#special:first-letter{
    font-size: 100px;
    color:green;
}

h1:hover{
    color:blue;
}
a:visited{
    color:purple;
}